------------------------------------------------------------------------------------------------------------------------
-- Procedures declarations
------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------
-- Clasifiers
------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------
-- Standard procedures
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE pAccountExtCreate AS BEGIN SET NOCOUNT ON; END
GO

CREATE PROCEDURE pAccountExtModify AS BEGIN SET NOCOUNT ON; END
GO

CREATE PROCEDURE pAccountExtDelete AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- EOF Procedures declarations
------------------------------------------------------------------------------------------------------------------------
