------------------------------------------------------------------------------------------------------------------------

UPDATE tUrlAlias SET Alias='~/eshop/darkove-sety', Name='Darkove sety'  WHERE Url='~/eshop/products.aspx?id=ds'
UPDATE tUrlAlias SET Alias='~/eshop/novinky', Name='Novinky'  WHERE Url='~/eshop/products.aspx?id=news'
------------------------------------------------------------------------------------------------------------------------
