UPDATE tUrlAlias SET Alias='~/eshop/novinky2013', Name='Novinky 2013!'  WHERE Alias='~/eshop/darkove-sety'
GO
UPDATE tPage SET Name='Novinky 2013!' WHERE Name = 'Dárkové sety'
GO
UPDATE tNavigationMenu SET Name='Novinky 2013!' WHERE Name = 'Dárkové sety'
GO