------------------------------------------------------------------------------------------------------------------------
-- Procedures declarations
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE pShpCarts AS BEGIN SET NOCOUNT ON; END
GO

CREATE PROCEDURE pShpAssociatedOrderCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpAssociatedOrderModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpAssociatedOrderDelete AS BEGIN SET NOCOUNT ON; END
GO

CREATE PROCEDURE pEuronaFindAdvisorForHost AS BEGIN SET NOCOUNT ON; END
GO

CREATE PROCEDURE pShpRecalculateIntensaCart AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpRecalculateCernyForLifeCart AS BEGIN SET NOCOUNT ON; END
GO

CREATE PROCEDURE pShpProductModifyEx AS BEGIN SET NOCOUNT ON; END
GO

CREATE PROCEDURE pShpUzavierkaModify AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- Clasifiers
------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------
-- Standard procedures
------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------
-- EOF Procedures declarations
------------------------------------------------------------------------------------------------------------------------
