------------------------------------------------------------------------------------------------------------------------
-- Functions declarations
------------------------------------------------------------------------------------------------------------------------
CREATE FUNCTION fGetPriceWithMargin(@PriceWVAT DECIMAL(19,2), @Margin DECIMAL(19,2), @VAT DECIMAL(19,2), @WithVAT BIT ) RETURNS DECIMAL(19,2) AS BEGIN RETURN 1 END
GO
------------------------------------------------------------------------------------------------------------------------
-- EOF Functions declarations
------------------------------------------------------------------------------------------------------------------------
