------------------------------------------------------------------------------------------------------------------------
-- Triggers declarations
------------------------------------------------------------------------------------------------------------------------
CREATE TRIGGER rOrganizationUpdated ON tOrganization AFTER UPDATE AS BEGIN SET NOCOUNT ON END
GO
------------------------------------------------------------------------------------------------------------------------
-- EOF Triggers declarations
------------------------------------------------------------------------------------------------------------------------
