------------------------------------------------------------------------------------------------------------------------
-- Views declarations
------------------------------------------------------------------------------------------------------------------------
CREATE VIEW vAdvisorAccounts AS SELECT A=1
GO
CREATE VIEW vShpVlastnostiProduktu AS SELECT A=1
GO
CREATE VIEW vShpPiktogramyProduktu AS SELECT A=1
GO
CREATE VIEW vShpParfumacieProduktu AS SELECT A=1
GO
CREATE VIEW vShpUcinkyProduktu AS SELECT A=1
GO
CREATE VIEW vShpCenyProduktu AS SELECT A=1
GO
CREATE VIEW vShpUzavierka AS SELECT A=1
GO
------------------------------------------------------------------------------------------------------------------------
-- EOF Views declarations
------------------------------------------------------------------------------------------------------------------------
