------------------------------------------------------------------------------------------------------------------------
-- Procedures declarations
------------------------------------------------------------------------------------------------------------------------

-- ShpHighlight
CREATE PROCEDURE pShpHighlightCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpHighlightModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpHighlightDelete AS BEGIN SET NOCOUNT ON; END
GO

-- ShpOrderStatus
CREATE PROCEDURE pShpOrderStatusCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpOrderStatusModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpOrderStatusDelete AS BEGIN SET NOCOUNT ON; END
GO

-- ShpShipment
CREATE PROCEDURE pShpShipmentCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpShipmentModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpShipmentDelete AS BEGIN SET NOCOUNT ON; END
GO

-- ShpPayment
CREATE PROCEDURE pShpPaymentCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpPaymentModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpPaymentDelete AS BEGIN SET NOCOUNT ON; END
GO

-- ShpVAT
CREATE PROCEDURE pShpVATCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpVATModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpVATDelete AS BEGIN SET NOCOUNT ON; END
GO

-- ShpCurrency
CREATE PROCEDURE pShpCurrencyCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCurrencyModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCurrencyDelete AS BEGIN SET NOCOUNT ON; END
GO

------------------------------------------------------------------------------------------------------------------------
-- ShpAddress
CREATE PROCEDURE pShpAddressCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpAddressModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpAddressDelete AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- ShpCategory
CREATE PROCEDURE pShpCategoryCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCategoryModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCategoryDelete AS BEGIN SET NOCOUNT ON; END
GO
-- ShpProductCategories
CREATE PROCEDURE pShpProductCategoriesCreate AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- ShpProduct
CREATE PROCEDURE pShpProductCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpProductModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpProductDelete AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpProductCommentCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpProductIncrementVote AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpProductIncrementViewCount AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- ShpAttribute
CREATE PROCEDURE pShpAttributeCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpAttributeModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpAttributeDelete AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- ShpProductValue
CREATE PROCEDURE pShpProductValueCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpProductValueModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpProductValueDelete AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- ShpCart
CREATE PROCEDURE pShpCartCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCartModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCartDelete AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- ShpCartProduct
CREATE PROCEDURE pShpCartProductCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCartProductModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpCartProductDelete AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- ShpOrder
CREATE PROCEDURE pShpOrderCreate AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpOrderModify AS BEGIN SET NOCOUNT ON; END
GO
CREATE PROCEDURE pShpOrderDelete AS BEGIN SET NOCOUNT ON; END
GO

------------------------------------------------------------------------------------------------------------------------
-- Search engine
CREATE PROCEDURE pShpSearchProducts AS BEGIN SET NOCOUNT ON; END
GO
------------------------------------------------------------------------------------------------------------------------
-- EOF Procedures declarations
------------------------------------------------------------------------------------------------------------------------
