/*Telerik RadCalendar Default skin*/

table.RadCalendar_Default
{
	table-layout:auto;
	border-collapse:separate;
	border:0;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	width:220px;
}

/*titlebar*/

.RadCalendar_Default .rcTitlebar
{
	width:100%;
	border:1px solid;
	border-color:#868686 #868686 #c4c4c4;
	padding:0;
	background:#eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendar_Default .rcTitlebar table
{
	table-layout:auto;
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_Default .rcTitlebar td
{
	border:0;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Default .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}
.RadCalendar_Default .rcNoNav .rcTitle
{
	cursor:default;
}

.RadCalendar_Default .rcTitlebar .rcPrev,
.RadCalendar_Default .rcTitlebar .rcNext,
.RadCalendar_Default .rcTitlebar .rcFastPrev,
.RadCalendar_Default .rcTitlebar .rcFastNext
{
	display:block;
	width:15px;
	height:15px;
	overflow:hidden;
	margin:0 4px;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Default .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:1px -197px;
}

.RadCalendar_Default .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -247px;
}

.RadCalendar_Default .rcTitlebar .rcPrev
{
	background-position:4px -297px;
}

.RadCalendar_Default .rcTitlebar .rcPrev:hover
{
	background-position:4px -347px;
}

.RadCalendar_Default .rcTitlebar .rcNext
{
	background-position:3px -397px;
}

.RadCalendar_Default .rcTitlebar .rcNext:hover
{
	background-position:3px -447px;
}

.RadCalendar_Default .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:1px -497px;
}

.RadCalendar_Default .rcTitlebar .rcFastNext:hover
{
	background-position:1px -547px;
}

.RadCalendar_Default .rcMain
{
	width:100%;
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

.RadCalendar_Default .rcMainTable
{
	table-layout:auto;
	border-collapse:separate;
	border:0;
	width:100%;
	font:12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Default .rcHeader,
.RadCalendar_Default .rcFooter
{
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Default .rcRow th,
.RadCalendar_Default .rcWeek th
{
	border:0;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar_Default .rcWeek th
{
	border-bottom:1px solid #c5c5c5;
	padding:4px 6px 3px 0;
	text-align:right;
	color:#333;
}

.RadCalendar_Default .rcWeek .rcViewSel,
.RadCalendar_Default .rcRow th
{
	width:13px;
	padding:0 7px 0 9px;
	background:#eee;
	text-align:center;
}

.RadCalendar_Default .rcRow th
{
	color:#777;
}

/*date cells*/

.RadCalendar_Default .rcRow td
{
	border:1px solid #fff;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar_Default .rcMain .rcRow a,
.RadCalendar_Default .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#333;
}

.RadCalendar_Default .rcPreview .rcRow a
{
	outline:none;
}

.RadCalendar_Default .rcMain .rcWeekend a
{
	color:#666;
}

.RadCalendar_Default .rcRow .rcToday
{
	border-color:#898989;
}

.RadCalendar_Default .rcMain .rcOtherMonth a
{
	color:#898989;
}

.RadCalendar_Default .rcMain .rcOutOfRange span
{
	color:#898989;
	cursor:default;
}

.RadCalendar_Default .rcRow .rcHover
{
	border-color:#c4c4c4 #b2b2b2 #9e9e9e;
	background:#c5c5c5 0 -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Default .rcRow .rcSelected
{
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	background:#828282 0 -1700px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Default .rcMain .rcRow .rcSelected a
{
	color:#fff;
}

/*multimonth view*/

table.RadCalendarMultiView_Default
{
	width:auto;
}

.RadCalendarMultiView_Default .rcTitlebar
{
	border-color:#9a9a9a #9c9c9c #9c9c9c;
	background:#c5c5c5 0 -1199px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_Default .rcTitlebar table
{
	border:1px solid;
	border-color:#fdfdfd #f3f3f3 #e7e7e7;
	line-height:27px;
}

.RadCalendarMultiView_Default .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -647px;
}

.RadCalendarMultiView_Default .rcTitlebar .rcPrev:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiView_Default .rcTitlebar .rcNext:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiView_Default .rcTitlebar .rcFastNext:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiView_Default .rcMain
{
	border-color:#9b9b9b;
}

.RadCalendarMultiView_Default .rcCalendar
{
	width:220px;
	border:1px solid #868686;
	padding:0;
}

.RadCalendarMultiView_Default .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 2px;
	background:#eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
	text-align:center;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Default
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

table.RadCalendarMonthView_Default td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_Default #rcMView_Feb,
.RadCalendarMonthView_Default #rcMView_Apr,
.RadCalendarMonthView_Default #rcMView_Jun,
.RadCalendarMonthView_Default #rcMView_Aug,
.RadCalendarMonthView_Default #rcMView_Oct,
.RadCalendarMonthView_Default #rcMView_Dec
{
	border-right:1px solid #e0e0e0;
}

.RadCalendarMonthView_Default a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Default .rcSelected a
{
	border:1px solid;
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	padding:1px 3px;
	background:#828282 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarMonthView_Default #rcMView_PrevY a,
.RadCalendarMonthView_Default #rcMView_NextY a
{
	display:block;
	width:17px;
	height:14px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Default #rcMView_PrevY a
{
	background-position:7px -196px;
}

.RadCalendarMonthView_Default #rcMView_NextY a
{
	background-position:7px -496px;
}

.RadCalendarMonthView_Default .rcButtons
{
	padding:6px 7px 5px;
	text-align:center;
}

.RadCalendarMonthView_Default input
{
	border:1px solid;
	border-color:#a7a7a7 #7b7b7b #7b7b7b #a7a7a7;
	padding:0;
	background:#e9e9e9 0 -2300px repeat-x url('Calendar/sprite.gif');
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Default #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Default #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Default
{
	border-collapse:separate;
	border:1px solid #868686;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Default th
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 1px;
	background:#eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#000;
	text-align:center;
	cursor:default;
	line-height:23px;
	font-weight:normal;
}

table.RadCalendarTimeView_Default td
{
	border:0;
	border-left:1px solid #c5c5c5;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Default td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Default a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Default td.rcSelected a
{
	border:1px solid;
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	padding:1px 5px;
	background:#828282 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarTimeView_Default td.rcHover a
{
	border:1px solid;
	border-color:#c4c4c4 #b2b2b2 #9e9e9e;
	padding:1px 5px;
	background:#c5c5c5 0 -1600px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendarTimeView_Default .rcFooter
{
	border:0;
	border-top:1px solid #c5c5c5;
	padding:0;
}

/*pickers*/

.RadPicker_Default,
.RadPicker_Default td
{
	vertical-align:middle;
}

.RadPicker_Default .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Default .rcTable
{
	table-layout:auto;
}

.RadPicker_Default table.rcTable,
.RadPicker_Default table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Default table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Default td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Default td a{position:static}/*IE6*/
*+html .RadPicker_Default td a{position:static}/*IE7*/

.RadPicker_Default .rcCalPopup,
.RadPicker_Default .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_Default .rcCalPopup,
.RadPicker_Default .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Default .rcCalPopup:hover,
.RadPicker_Default .rcCalPopup:focus,
.RadPicker_Default .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Default .rcTimePopup,
.RadPicker_Default .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Default .rcTimePopup:hover,
.RadPicker_Default .rcTimePopup:focus,
.RadPicker_Default .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_Default .rcDisabled,
.RadCalendarMonthView_Default .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Default .rcTitlebar .rcFastPrev
{
	background-position:1px -497px;
}

.RadCalendarRTL_Default .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -547px;
}

.RadCalendarRTL_Default .rcTitlebar .rcPrev
{
	background-position:3px -397px;
}

.RadCalendarRTL_Default .rcTitlebar .rcPrev:hover
{
	background-position:3px -447px;
}

.RadCalendarRTL_Default .rcTitlebar .rcNext
{
	background-position:4px -297px;
}

.RadCalendarRTL_Default .rcTitlebar .rcNext:hover
{
	background-position:4px -347px;
}

.RadCalendarRTL_Default .rcTitlebar .rcFastNext
{
	background-position:1px -197px;
}

.RadCalendarRTL_Default .rcTitlebar .rcFastNext:hover
{
	background-position:1px -247px;
}

.RadCalendarMultiViewRTL_Default .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiViewRTL_Default .rcTitlebar .rcPrev:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiViewRTL_Default .rcTitlebar .rcNext:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiViewRTL_Default .rcTitlebar .rcFastNext:hover
{
	background-position:1px -647px;
}