<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serviceSettings" type="Mothiva.Cron.ServiceSettings, Mothiva.Cron" />
  </configSections>
  <appSettings>
    <add key="SMTP:From" value="CronService@mothiva.com" />
    <add key="SMTP:To" value="roman.hudec@rhudec.sk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="General" value="4" />
    </switches>
  </system.diagnostics>
  <serviceSettings>
    <cron>
      <!-- CarInzert cron-->
      <!--<add name="carInzertAccounts" assembly="Cron.Carinzert.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="REMOVE_UNCOMPLETED_REGISTRATION_ACCOUNTS">
          <params>
            <add name="connectionString" value="Data Source=localhost;Database=carinzert;Integrated Security=True">
            </add>
          </params>
        </schedule>
      </add>
      <add name="carInzertSoldCar" assembly="Cron.Carinzert.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="SOLD_CAR_AFTER_AUCTION_END">
          <params>
            <add name="connectionString" value="Data Source=localhost;Database=carinzert;Integrated Security=True">
            </add>
            <add name="commandUrl" value="http://localhost:51387/command/soldCar.aspx?id={0}&amp;accountId={1}">
            </add>
          </params>
        </schedule>
      </add>-->
      <!-- CarAukce cron-->
      <add name="carAukceCloseAukcion" assembly="Cron.Caraukce.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="SOLD_CAR_AFTER_AUCTION_END">
          <params>
            <add name="connectionString" value="Data Source=Z61A;Database=caraukce;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>
      <add name="carAukceSendEmail" assembly="Cron.Caraukce.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="SEND_EMAIL_AFTER_AUCTION_END">
          <params>
            <add name="connectionString" value="Data Source=Z61A;Database=caraukce;Integrated Security=True"></add>
            <!--<add name="commandUrl" value="http://caraukce.carinzert.cz/command/soldCar.aspx?id={0}&amp;accountId={1}"></add>-->
          </params>
        </schedule>
      </add>
      <!--
      
      <add name="carInzertInvoices" assembly="Cron.Carinzert.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="CREATE_INVOICE">
          <params>
            <add name="connectionString" value="Data Source=localhost;Database=carinzert;Integrated Security=True"></add>
            <add name="organizationAId" value="4"></add>
            <add name="dueDays" value="15"></add>
            <add name="invoiceUrl" value="http://carinzert.cz/invoice.aspx?id={0}&amp;unsafe=true"></add>
          </params>
        </schedule>
      </add>
      <add name="carInzertImportTipCarsClassifiers" assembly="Cron.Carinzert.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="IMPORT_TIPCARS_CLASSIFIERS">
          <params>
            <add name="connectionString" value="Data Source=localhost;Database=carinzert;Integrated Security=True"></add>
            <add name="classifierLocale" value="cs"></add>
            <add name="importFilePath" value="C:\\Temp\\Import\\TIPCars\\CiselnikyXmlImport.xml"></add>
          </params>
        </schedule>
      </add>

      <add name="carInzertImportTipCars" assembly="Cron.Carinzert.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="IMPORT_TIPCARS_CARS">
          <params>
            <add name="connectionString" value="Data Source=localhost;Database=carinzert;Integrated Security=True"></add>
            <add name="importPath" value="C:\\Temp\\Import\\TIPCars"></add>
            <add name="carImageGalleryPath" value="d:\sk\Mothiva\artemis.cms\trunk\brand\carinzert\userfiles\cars"></add>
          </params>
        </schedule>
      </add>
      -->
      <!-- Other cron-->
    </cron>
  </serviceSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.rhudec.sk" port="25" userName="roman.hudec@rhudec.sk" password="031586313" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>