<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionStringEurona" value="Data Source=HUDYNB;Database=eurona;Integrated Security=True"></add>
		<add key="connectionStringTVD" value="Data Source=HUDYNB;Database=TVD;Integrated Security=True"></add>
	</appSettings>
</configuration>