<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serviceSettings" type="Mothiva.Cron.ServiceSettings, Mothiva.Cron" />
  </configSections>

  <appSettings>
    <add key="SMTP:From" value="CronService@mothiva.com" />
    <add key="SMTP:To" value="roman.hudec@rhudec.sk;roman.hudec@mothiva.sk" />
  </appSettings>

  <system.diagnostics>
    <switches>
      <add name="General" value="4" />
    </switches>
  </system.diagnostics>

  <serviceSettings>
    <cron>
      
      <!-- ================================================================================================================================ --><!--
      --><!--EURONA--><!--
      --><!-- ================================================================================================================================ -->
      <!--EURONA_EMPTY_CARTS-->
      <!--
      <add name="eurona.empty_carts" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_EMPTY_CARTS">
          <params>
            <add name="connectionString" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>-->
      <!--EURONA_REKLAMNI_ZASILKY_SYNC-->
      <!--
      <add name="eurona.sync.reklamnizasilky" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_REKLAMNI_ZASILKY_SYNC">
          <params>
            <add name="connectionStringEurona" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
            <add name="connectionStringTVD" value="Data Source=HUDYNB\SQLEXPRESS;Database=TVD;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>-->
      <!--EURONA_CALCULATE_TVD_USER_TREE--><!--
      <add name="eurona.tvd.calculate.users.tree" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_CALCULATE_TVD_USER_TREE">
          <params>
            <add name="connectionString" value="Data Source=HUDYNB\SQLEXPRESS;Database=TVD;Integrated Security=True"></add>          
          </params>
        </schedule>
      </add>-->
      <!--EURONA_REMOVE_ACCOUNTS-->
      <!--<add name="eurona.remove.accounts.byeurosap" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_REMOVE_EUROSAP_ACCOUNTS">
          <params>
            <add name="connectionStringSrc" value="Data Source=90.182.97.83,1434;Database=TVD;Integrated Security=False;user=esap_www;pwd=eurosap"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>-->
		<!--EURONA PRODUCT STOCK IMPORT-->
		<!--<add name="eurona.import.product.stock" assembly="Cron.Eurona.dll">
			<schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_IMPORT_PRODUCT_STOCK">
				<params>
					<add name="connectionStringSrc" value="Data Source=HUDYNB\SQLEXPRESS;Database=TVD;Integrated Security=True"></add>
					<add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
				</params>
			</schedule>
		</add>-->
		<!--EURONA PRODUCT IMPORT-->
      <!--<add name="eurona.import.product" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_IMPORT_PRODUCT">
          <params>
            <add name="connectionStringSrc" value="Data Source=HUDYNB;Database=TVD;Integrated Security=True"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB;Database=eurona;Integrated Security=True"></add>
            <add name="srcTVDImagePath" value="d:\sk\Eurona\eurona\_TVD_FTP_ "></add>
            <add name="dstProductImagePath" value="d:\sk\Eurona\eurona\eurona\userfiles\eshop\imageGallery\product"></add>
            <add name="dstVlastnostiImagePath" value="d:\sk\Eurona\eurona\eurona\images\Vlastnosti"></add>
            <add name="dstPiktogramyImagePath" value="d:\sk\Eurona\eurona\eurona\images\Piktogramy"></add>
            <add name="dstParfumacieImagePath" value="d:\sk\Eurona\eurona\eurona\images\Parfumacie"></add>
            <add name="dstSpecialniUcinkyImagePath" value="d:\sk\Eurona\eurona\eurona\images\SpecialneUcinky"></add>
            <add name="dstZadniEtiketyImagePath" value="d:\sk\Eurona\eurona\eurona\images\ZadniEtikety"></add>
          </params>
        </schedule>
      </add>-->
      <!--EURONA ACCOUNT SYNC-->
      <!--<add name="eurona.account.sync" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_ACCOUNT_SYNC">
          <params>
            <add name="connectionStringSrc" value="Data Source=HUDYNB\SQLEXPRESS;Database=TVD;Integrated Security=True"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>-->
      <!--EURONA ORDER SYNC-->
      <!--<add name="eurona.order.sync" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_ORDER_SYNC">
          <params>
            <add name="connectionStringSrc" value="Data Source=90.182.97.83,1434;Database=TVD;Integrated Security=False;user=esap_www;pwd=eurosap"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>-->
      <!--EURONA_BONUSKREDIT_NAROK_SYNC-->
      <add name="eurona.bonusovekredityuzivatele.narok" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="EURONA_BONUSKREDIT_NAROK_SYNC">
          <params>
            <add name="connectionStringSrc" value="Data Source=HUDYNB;Database=eurona;Integrated Security=True"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB;Database=TVD;Integrated Security=True;"></add>
          </params>
        </schedule>
      </add>
      <!-- ================================================================================================================================ -->
      <!--CERNY for LIFE -->
      <!-- ================================================================================================================================ -->
      <!--CERNYFORLIFE_CALCULATE_TVD_USER_TREE--><!--
      <add name="cernyforlife.tvd.calculate.users.tree" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="CERNYFORLIFE_CALCULATE_TVD_USER_TREE">
          <params>
            <add name="connectionString" value="Data Source=90.182.97.83,1434;Database=TVD;Integrated Security=False;user=esap_www;pwd=eurosap"></add>
          </params>
        </schedule>
      </add>
      --><!--CERNYFORLIFE_REMOVE_ACCOUNTS--><!--
      <add name="cernyforlife.remove.accounts.byeurosap" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="CERNYFORLIFE_REMOVE_EUROSAP_ACCOUNTS">
          <params>
            <add name="connectionStringSrc" value="Data Source=90.182.97.83,1434;Database=TVD;Integrated Security=False;user=esap_www;pwd=eurosap"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>
      --><!--CERNYFORLIFE PRODUCT IMPORT-->
      <!--
      <add name="cernyforlife.import.product" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="CERNYFORLIFE_IMPORT_PRODUCT">
          <params>
            <add name="connectionStringSrc" value="Data Source=HUDYNB\SQLEXPRESS;Database=TVD;Integrated Security=True;"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
            <add name="srcTVDImagePath" value="d:\sk\Mothiva\artemis.cms\trunk\brand\eurona\TVD_FTP\"></add>
            <add name="dstProductImagePath" value="d:\sk\Mothiva\artemis.cms\trunk\brand\eurona\cernyforlife\userfiles\eshop\imageGallery\product"></add>
            <add name="dstVlastnostiImagePath" value="d:\sk\Mothiva\artemis.cms\trunk\brand\eurona\cernyforlife\images\Vlastnosti"></add>
            <add name="dstPiktogramyImagePath" value="d:\sk\Mothiva\artemis.cms\trunk\brand\eurona\cernyforlife\images\Piktogramy"></add>
            <add name="dstParfumacieImagePath" value="d:\sk\Mothiva\artemis.cms\trunk\brand\eurona\cernyforlife\images\Parfumacie"></add>
            <add name="dstSpecialniUcinkyImagePath" value="d:\sk\Mothiva\artemis.cms\trunk\brand\eurona\cernyforlife\images\SpecialneUcinky"></add>
          </params>
        </schedule>
      </add>
      -->
	  <!--CERNYFORLIFE ACCOUNT SYNC--><!--
      <add name="cernyforlife.account.sync" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="CERNYFORLIFE_ACCOUNT_SYNC">
          <params>
            <add name="connectionStringSrc" value="Data Source=90.182.97.83,1434;Database=TVD;Integrated Security=False;user=esap_www;pwd=eurosap"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>
      --><!--CERNYFORLIFE ORDER SYNC--><!--
      <add name="cernyforlife.order.sync" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="CERNYFORLIFE_ORDER_SYNC">
          <params>
            <add name="connectionStringSrc" value="Data Source=90.182.97.83,1434;Database=TVD;Integrated Security=False;user=esap_www;pwd=eurosap"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=eurona;Integrated Security=True"></add>
          </params>
        </schedule>
      </add>
      --><!--CERNYFORLIFE_BONUSKREDIT_NAROK_SYNC--><!--
      <add name="cernyforlife.bonusovekredityuzivatele.narok" assembly="Cron.Eurona.dll">
        <schedule minute="*" hour="*" dayOfMonth="*" month="*" dayOfWeek="*" year="*" command="CERNYFORLIFE_BONUSKREDIT_NAROK_SYNC">
          <params>
            <add name="connectionStringSrc" value="Data Source=HUDYNB\SQLEXPRESS;Database=test_eurona;Integrated Security=True"></add>
            <add name="connectionStringDst" value="Data Source=HUDYNB\SQLEXPRESS;Database=TVD;Integrated Security=True;"></add>
            --><!--<add name="connectionStringDst" value="Data Source=90.182.97.83,1434;Database=TVD;Integrated Security=False;user=esap_www;pwd=eurosap"></add>--><!--
          </params>
        </schedule>
      </add>-->

      <!--=============================================================================================================================================-->
      <!-- Other cron-->
    </cron>
  </serviceSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.mothiva.com" userName="test@mothiva.com" password="0987oiuk" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>