.apek-logo{margin:auto;margin-top:10px;background-image:url(../images/apek-logo.png);background-repeat:no-repeat;width:153px;height:141px;}

.twitter-bar{background-image:url(../images/twitter.png);background-repeat:no-repeat;width:994px;height:33px;margin-bottom:5px;}
.twitter-bar .tweet{margin-left:70px;padding-top:8px;width:900px;}
.twitter-bar .tweet span{Font-size:14px;color:#eb0a5b;}

/*Override dataGrid styles*/
.sidebar-right{background-image: none;}
.content{width:100%;padding:0px;}
    
.button-uhrada-dobirkou
{
    white-space:pre-wrap!important;
    width:190px;
	height:80px!important;
	/*line-height:47px!important;*/
	padding:0px 10px 0px 10px;
	border: 0px none #fff!important;
	background-color:#fff!important;
	background-image:url(../images/uhrada-dobirkou-bg.png)!important;
	color: #FFFFFF;
	cursor:pointer;
	display:inline-block;
	text-decoration:none;
	font-size:16px;
}
.button-uhrada-kartou
{
    white-space:pre-wrap!important;
    width:190px;
	height:80px!important;
	/*line-height:47px!important;*/
	padding:0px 10px 0px 10px;
	border: 0px none #fff!important;
	background-color:#fff!important;
	background-image:url(../images/uhrada-kartou-bg.png)!important;
	color: #FFFFFF;
	cursor:pointer;
    display:block;
	text-decoration:none;
	font-size:16px;
}
.button-uhrada-kartou-disabled
{
    white-space:pre-wrap!important;
    width:190px;
	height:80px!important;
	padding:0px 10px 0px 10px;
	border: 0px none #fff!important;
	background-color:#fff!important;
	background-image:url(../images/uhrada-kartou-disabled-bg.png)!important;
	color: #FFFFFF;
	cursor:default!important;
    display:block;
	text-decoration:none;
	font-size:16px;
}
/*-------------------------------------------------------------------------------------------------------
/*PRODUCTS CONTROL CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/
.products{}
.products .product-pager-right, .products .product-pager-left{width:20px;height:306px;}
.products .product-pager-left{background-image:url(../images/products-pagger-left-bg.png);background-repeat:no-repeat}
.products .product-pager-right{background-image:url(../images/products-pagger-right-bg.png);background-repeat:no-repeat}

.products_resultMessage{ display:inline-block; width:100%; text-align:center; font-weight:bold; padding-top:10px; margin-top:10px;}
.products_list{}
.products_dataPager{}

.products_item_image {width:80px; padding:5px;}
.products_item_priceContainer{ width:40%;}
.products_item_labelOlPrice{ width:100px; color:#FF0000; text-decoration:line-through; padding-right:10px;}
.products_item_labelPrice{ font-weight:bold; font-size:10px;}
.products_item_buttonAddCart{ vertical-align:bottom; width:16px; background-color:Transparent!important; height:16px!important; background-image:url(../images/cart.png);border: none 0px #fff!important;}
.products_item_labelAvailability{color:#25368E;}
.products_item_labelQuantity{}
.products_item_inputQuantity{ height:16px!important; line-height:16px!important;width:25px;margin-right:5px!important; }
/*products_item (round panel) CSS STYLES*/
.products_item{ width:100%; margin-bottom:5px;}
.products_item_main{ table-layout:fixed; width:100%; height:100%; border: solid 1px #D6D6D6;}
.products_item_content table { background-color:Transparent; vertical-align:top ;border: none 0px #000;}
.products_item_topLeft{width:8px;height:8px;}
.products_item_top{}
.products_item_topRight{width:8px;height:8px;}	
.products_item_topLeftHead{width:8px;height:8px;background-color:#E8E8E8;}
.products_item_topRightHead{width:8px;height:8px;background-color:#E8E8E8;}
.products_item_headFill{ text-align:left;
	background-color:#E8E8E8;
	color:#191f2f;
	font-weight:bold;
	text-transform: uppercase;
	height:10px;
	white-space:nowrap;
}
.products_item_headNoFill{text-align:left;color:#191f2f;height:15px;}
.products_item_headFillLeft{background-color:#E8E8E8;height:10px;}
.products_item_headFillRight{background-color:#E8E8E8;height:10px;}
.products_item_headNoFillLeft{}
.products_item_headNoFillRight{}
.products_item_left{width:8px;}
.products_item_content{}
.products_item_right{width:8px;}
.products_item_bottomLeft{width:8px;height:8px;}
.products_item_bottom{height:8px;}
.products_item_bottomRight{width:8px;height:8px;}

/*-------------------------------------------------------------------------------------------------------
/*PRODUCT CONTROL CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/

.product{text-align:left;padding:5px 10px 5px 30px;}
.product .property span{font-weight:bold; font-size:14px;padding-top:10px; display:block}
.product_imageGallery{ border: solid 1px #d0d0d0; padding:10px;}
.product_infoHeader{ width:100%; background-color:#C1C1C1;}
.product_infoHeader td{ padding:3px;}
.product_infoHeader_label{ font-size:10px; text-align:left;}
.product_infoHeader_value{ font-weight:bold; font-size:12px; text-align:left;}
.product_infoHeader_cart{ border-top: solid 1px #A1A1A1;}
.product_infoHeader_cart_buttonAddCart{ vertical-align:bottom; width:16px; background-color:Transparent!important; height:16px!important; background-image:url(../images/cart.png);border: none 0px #fff!important;}
.product_infoHeader_cart_labelQuantity{}
.product_infoHeader_cart_inputQuantity{ height:16px!important; line-height:16px!important;width:25px;margin-right:5px!important; vertical-align:middle; }
.product_labelDescription{padding:5px;}

.product_comment {text-decoration:none;}
.product_viewCount {}
.product_carma div{ background-color:#F0F0F0; width:150px;}

.product .RadTabStrip .rtsUL{text-align:center;float:none!important;display:inline-block!important;}
.product .RadTabStrip .rtsUL .rtsLI {text-align:center;float:none!important;padding-left:2px;padding-right:2px;width:132px!important;}
.product .RadTabStrip .rtsUL .rtsLI a{display:inline-block!important;text-align:center;padding-left:2px;padding-right:2px;}

.product .RadTabStrip .rtsOut, .product .RadTabStrip .rtsLink{background-image:none!important; background-position:0 0!important; height:40px;}
.product .RadTabStrip .rtsOut .rtsTxt{color:#005EA5!important;line-height:35px;}
.product .RadTabStrip .rtsOut {width:132px!important;padding:0px!important;margin-top:5px; height:35px;background-image:url(../images/zalozka-normal.png)!important; background-repeat:repeat-x;}
.product .RadTabStrip .rtsSelected .rtsOut{width:132px!important;padding-right:0px; height:41px;background-image:url(../images/zalozka-selected.png)!important; background-repeat:repeat-x;}
.product .RadTabStrip .rtsSelected .rtsOut .rtsTxt{line-height:41px;color:#fff!important;padding:0px!important; }

/*-------------------------------------------------------------------------------------------------------
/*CART CONTROL CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/
.cart-update-progress{position:relative; z-index:0; top:0px;width:100%;text-align:center;}
.cart-update-progress img{margin:auto; text-align:center;}

.cart{ padding:10px 5px 5px 5px;}
.cart_cartImage{ display:inline-block; margin-right:10px;vertical-align:bottom;width:16px; height:16px; background-image:url(../images/cart.png); border: solid 0px #000!important;}
.cart_inputPrice{ display:inline-block;vertical-align:bottom;}
.cart_cartDetailLink{ display:block; margin-top:10px;}

/*-------------------------------------------------------------------------------------------------------
/*Admin Order Control CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/
.adminOrderControl{width:100%;}
.adminOrderControl_fieldset{ margin-top:10px;}
.adminOrderControl_fieldset .form_control{ color:#0077b6;}
.adminOrderControl_legend{ font-size:12px;color:#EA008A;font-weight:bold;padding-left:5px; padding-right:5px;}
.adminOrderControl_orderNumber{font-size:12px; font-weight:bold; padding-bottom:10px;}
.adminOrderControl_priceSumary{ margin:auto;}
.adminOrderControl_priceSumary_label{font-size:12px; text-align:right;}
.adminOrderControl_priceSumary_labelBold{font-size:12px; text-align:right; font-weight:bold;}
.adminOrderControl_priceSumary_priceTotal{ color:#9D0303; white-space:nowrap; font-size:16px; font-weight:bold;}

/*-------------------------------------------------------------------------------------------------------
/*CartProductQuantityItemTemplate CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/
.cpQuantityItemTemplate{ width:55px;}
.cpQuantityItemTemplate td { white-space:nowrap;}
.cpQuantityItemTemplate .quantity{ width:30px; text-align:center;}
.cpQuantityItemTemplate .refresh{ vertical-align:middle; padding-left:3px;}

/*-------------------------------------------------------------------------------------------------------
/*CATEGORY SITE MENU (horizontal) CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/
.category-sitemenu-container{text-align:center;background-image:url(../images/category-navigation-menu-bg.png)!important; background-repeat:repeat-x;}
.category-sitemenu{width:auto;}
.category-sitemenu_StaticMenuStyle {}
.category-sitemenu_StaticMenuItemStyle
{
	color: #FFF;
	text-decoration: none;
	line-height:60px;
	display: inline-block;
	font-weight : bold;
	height:60px;
}
.category-sitemenu_StaticHoverStyle a {text-decoration: none;color:#fff;line-height:60px;height:60px;}
.category-sitemenu_DynamicMenuStyle{text-align:left!important;}
.category-sitemenu_DynamicMenuItemStyle
{
    min-height: 30px;
	line-height: 30px;
	
	vertical-align: middle;
	display: block;
	color: #FFF;	
	text-decoration: none;	
	
	min-width:130px;
    padding: 0px 5px 0px 5px;
	margin-bottom:-1px;
	display: block;
	
	background-image:url(../images/navigation-menu-bg.png)!important; background-repeat:repeat-x;
	text-align:left!important;
	
}
.category-sitemenu_DynamicHoverStyle 
{
    text-align:left!important;
    text-decoration: none; 
    background-image:url(../images/navigation-submenu-selected-blue-bg.png)!important; background-repeat:repeat-x;
}

.category-sitemenu_DynamicHoverStyle a {text-decoration: none; color:#005EA2; background-image:none!important;}
.category-sitemenu_DynamicSelectedStyle{}
/*-------------------------------------------------------------------------------------------------------
/*SEARCH BAR CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/
.search-row{background-image:url(../images/navigation-menu-bg.png);background-repeat:repeat-x;width:100%;}
.search
{
    margin:auto;
    padding:0px;
    float:right;
    width:202px;
    border: 0px none #fff!important;
    /*display:inline;*/
    background-image:url(../images/search.png);background-repeat:no-repeat;
    height:30px;
    line-height:30px;
}
.search .search-box
{
    border: 0px none #fff!important;
    background-color:transparent;
    width:100px;    
    height:30px;
    line-height:30px;
    vertical-align:middle;
    padding-left:30px;
}
input[type=text]::-ms-clear {
    display: none;
}

.search .search-button
{
    border: 0px none #fff!important;
    background-color:transparent;
    background-image:none;
    width:50px;    
    vertical-align:middle;
}
/*-------------------------------------------------------------------------------------------------------
/* PAGE MENU CSS STYLES*/
/*-------------------------------------------------------------------------------------------------------*/
.shp-pagemenu{ display:block; width:167px;}
.shp-pagemenu a{ line-height:36px; height:36px;color:#fff;text-decoration:none;}
.shp-pagemenu .pagemenu-header{text-align:center; margin-bottom:0px; border: 0px none #fff ;font-weight:bold;text-transform:uppercase; height:44px; background-image:url(../images/shp-page-menu-header-bg.png); background-repeat:no-repeat;}
.shp-pagemenu .pagemenu-header a{line-height:44px;}
.shp-pagemenu .pagemenu-item a{ cursor:pointer;display:block;padding-left:35px;height:36px;background-image:url(../images/shp-page-menu-item-bg.png); background-repeat:no-repeat;}
.shp-pagemenu .pagemenu-item a:hover{ background-image:url(../images/shp-page-menu-item-selected-bg.png); background-repeat:no-repeat;}
.shp-pagemenu .pagemenu-item-selected{cursor:pointer;display:block;padding-left:30px;height:36px;background-image:url(../images/shp-page-menu-item-selected-bg.png)!important; background-repeat:no-repeat;}
.shp-pagemenu .pagemenu-footer{height:36px;background-image:url(../images/shp-page-menu-footer-bg.png); background-repeat:no-repeat;}
/*-------------------------------------------------------------------------------------------------------
/*EXCLUSIV FLASH ITEMS*/
/*-------------------------------------------------------------------------------------------------------*/
.exclusiv-flash{width:994px; height:517px;}
/*
.exclusiv-flash .outerWrapper{ background-color:transparent; margin:auto;width:994px; height:417px;}
.exclusiv-flash .outerWrapper a, .exclusiv-flash .outerWrapper img{ border: 0px none #fff;}
*/
/*-------------------------------------------------------------------------------------------------------
/*CATEGORY NAVIGATION PATH*/
/*-------------------------------------------------------------------------------------------------------*/
.category-navigation-path{display:inline-block;margin-bottom:5px;}
.category-navigation-path .navigation-item-home{width:93px;height:20px;display:inline-block;background-image:url(../images/category-navigation-path-home.png);background-repeat:no-repeat;}
.category-navigation-path .navigation-item-home span{color:#ffffff; text-decoration:none; line-height:20px;padding:5px;}

.category-navigation-path .navigation-item-category{padding-left:5px;padding-right:15px;height:20px;display:inline-block;background-color:#E2008B;background-image:url(../images/category-navigation-path-category.png);background-repeat:no-repeat;background-position:right;}
.category-navigation-path .navigation-item-category span{color:#ffffff; text-decoration:none; line-height:20px;padding:5px;}

.category-navigation-path .navigation-item-product{padding-left:5px;padding-right:15px;height:20px;display:inline-block;background-color:#E2008B;background-image:url(../images/category-navigation-path-product.png);background-repeat:no-repeat;background-position:right;}
.category-navigation-path .navigation-item-product span{color:#ffffff; text-decoration:none; line-height:20px;padding:5px; font-weight:bold;}

.category-navigation-path .navigation-back{margin-top:5px;width:93px;height:20px;display:block;background-image:url(../images/category-navigation-back.png);background-repeat:no-repeat;background-position:right;}
.category-navigation-path .navigation-back span{color:#ffffff; text-decoration:none; line-height:20px;padding:5px;padding-left:20px;}


.payOrderControl{margin-bottom:20px;}

.order-warning-table{ margin-left:auto; margin-right:auto;width:700px;}
.order-warning-table span, .order-warning-table span b{color:#F321CB;}

.order-buttons-table{ margin-left:auto; margin-right:auto;border-spacing: 0px;border-collapse: separate;}
.order-buttons-table td{padding:0px;height:34px;}
.order-buttons-table span{font-size:14px!important;}
.order-buttons-checkbox a, .order-buttons-checkbox span{color:#F321CB;font-weight:bold;font-size:14px!important;}

.address_notes_label{color:#0077b6!important;}
.address_notes_desription{color:#0077b6!important; font-size:10px!important;}

.button-save
{
	height:34px!important;
	width:87px;	
	border: solid 0px #000000!important;
	background-color:transparent!important;
	background-image:url(../images/button_order_save.png);background-repeat:no-repeat;
	padding-bottom:4px;
	cursor:pointer;
}
.button-save-help-message {
    display:none;
}
.button-save-help-image {
    margin-top:-20px;
    margin-left:-15px;
    cursor:pointer;
}
.button-order-disabled
{
	height:34px!important;
	width:270px;	
	border: solid 0px #000000!important;
	background-color:transparent!important;
	background-image:url(../images/button_order_order_disabled.png);background-repeat:no-repeat;
	padding-bottom:4px;
	cursor:auto!important;
	color:#A0A0A0!important;
}

.button-order
{
	height:34px!important;
	width:270px;	
	border: solid 0px #000000!important;
	background-color:transparent!important;
	background-image:url(../images/button_order_order.png);background-repeat:no-repeat;
	padding-bottom:4px;
	cursor:pointer;
}

.order-finish-helpdesk{background-image:url(../images/helpdesk.png);background-repeat:no-repeat;width:245px;height:280px; 
    padding-top:110px;
    margin-top:20px;
 }
 .order-finish-helpdesk span {text-align:center;}

.order_shipment{
	height: 19px;
	line-height: 19px;
	vertical-align: middle;
	border-left: solid 1px #939393;
	border-top: solid 1px #525252;
	border-right: solid 1px #d0d0d0;
	border-bottom: solid 1px #d0d0d0;
	padding: 0px;
	margin: 0px;
    font-weight:bold; 
    background-color:#adff2f;
}