------------------------------------------------------------------------------------------------------------------------
-- UPGRADE CMS version 0.0 to 0.1
------------------------------------------------------------------------------------------------------------------------
-- Upgrade

CREATE TABLE [tSysUpgrade](
	[UpgradeId] [int] IDENTITY(1,1) NOT NULL,
	[VersionMinor] [int] NOT NULL,
	[VersionMajor] [int] NOT NULL,
	[UpgradeDate] [datetime] NULL,
	CONSTRAINT [PK_tSysUpgrade] PRIMARY KEY CLUSTERED ([UpgradeId] ASC)
)
GO

------------------------------------------------------------------------------------------------------------------------
-- IPNF
CREATE TABLE [dbo].[tIPNF](
	[IPNFId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Locale] [char](2) NOT NULL,
	[IPF] [nvarchar](100) NOT NULL,
	[Notes] [nvarchar](MAX) NULL,
 CONSTRAINT [PK_IPNFId] PRIMARY KEY CLUSTERED ([IPNFId] ASC)
)
GO

CREATE VIEW vIPNFs AS SELECT A=1
GO

ALTER VIEW vIPNFs
--%%WITH ENCRYPTION%%
AS
SELECT TOP 100 PERCENT
	[IPNFId], [Type], [Locale], [IPF], [Notes]
FROM tIPNF
GO
------------------------------------------------------------------------------------------------------------------------
-- INTT [tIPNF]
-- SLOVAK sk location
-- Type - 2 - Mobile
INSERT INTO tIPNF ( Type, Locale, IPF, Notes ) VALUES ( 2, 'sk', '+421 (905)', 'Orange' )
INSERT INTO tIPNF ( Type, Locale, IPF, Notes ) VALUES ( 2, 'sk', '+421 (906)', 'Orange' )
INSERT INTO tIPNF ( Type, Locale, IPF, Notes ) VALUES ( 2, 'sk', '+421 (907)', 'Orange' )



-- CZECH cs location


GO